  .a {
    color: blue;
  }
.classe2 {
    color: red;
    background-color: yellow;
  }
  .classe3 {
    color: rgb(255, 0, 234);
  }

.title {
    border: 1px solid rgb(235, 0, 0);
    padding: 10px;
    margin: 10px; 
} 
